*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin: 2rem 0;
}

.number_box{
    background-color: gainsboro;
    padding: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    border: 1px solid black;
}

.d-none{
    display: none;
}

.counter{
    padding: 1 rem;
    background-color: red;
}